@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Rubik:wght@400;700&family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Source Sans 3', sans-serif;
}

.container{
  display: flex;
  align-items:center;
  justify-content: center;
}

.wrapper{
  max-width: 1200px;
  width: 100%;  
}
@media screen and (max-width:1300px) {
  .wrapper{
    max-width: 93%;
  }
}
@media screen and (max-width:1023px) {
  .wrapper{
    max-width: 96%;
  }
}
@media screen and (max-width:599px) {
  .wrapper{
    max-width: 97%;
  } 
}

:root{
  --darkBg:#0868A2;
  --bgSidebar:#025F9B;
  --bgHover:#0046B7;
  --grayBg:#FBFBFB;
  --sidebarLink:#004E7D;

  --white:#FFFFFF;

  --titleDark:#01426F;
  --titleLight:#FDFDFD;
  --minDate:#797979;
  --date:#A6A6A6;

  --fakColor:#00237A;
  --kafColor:#364670;
  --fakBg:#cceeff80;

  --btnBg:#007AFF;  

  --textDark:#03356C;

  --black:black;

  --statusColor:#032CBC;
  --borderCart: #CECECE;
  --faq:#363940;

  --faqBorder:#e1e5ee
}

.slick-dots {
  margin: 13px 0 !important;
}


.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 25px !important;
}

.title{
  color:  #202020;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 46.8px;
}