@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Source Sans 3', sans-serif;
}


.container{
  display: flex;
  align-items:center;
  justify-content: center;
}

.wrapper{
  max-width: 1200px;
  width: 100%;  
}
@media screen and (max-width:1300px) {
  .wrapper{
    max-width: 93%;
  }
}
@media screen and (max-width:1023px) {
  .wrapper{
    max-width: 96%;
  }
}
@media screen and (max-width:599px) {
  .wrapper{
    max-width: 97%;
  } 
}

.slick-prev{
  left:-15px !important;
  z-index: 1;
}
.slick-next{
  right:-15px !important;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  color: #01426F  !important;
  font-size: 30px !important;
}